<!DOCTYPE html>
<html>
  <head>
    <title>Yoga Flows</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Studio!</h1>
    <h2>Namaste</h2>
    <a href="/flows">View All Flows</a>
    <a href="/flows/new">Create a Flow</a>
  </body>
</html>
