<%- include('../partials/header') %>
    <h1>Build Your Flow</h1>
    <div id="new-form">
    <form action="/flows" method="POST">
        <label id="create-name">Create a Name</label><br>
        <input type="text" name="name"><br><br>
        <label id="create-category">Category:</label><br><br>
        <select name="category">
            <option value="Vinyasa">Vinyasa</option>
            <option value="Hatha">Hatha</option>
            <option value="Yin">Yin</option>
            <option value="Power">Power</option>
        </select><br><br><br>
        <button class="btn btn-outline-info btn-sm" id="create-flow-button" type="submit">Create Flow</button>
    </form>
</div>
<%- include('../partials/footer') %>