<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Yoga Flows</title>
</head>
<body>
    <h1>Pick a Yoga Flow</h1>
    <table id="flows">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <% flows.forEach(function(f) { %>
                <tr>
                    <td><a href="/flows/<%= f._id %>"><%= f.name %></td></a>
                    <td><%= f.category %></td>
                </tr>
            <% }); %> 
        </tbody>
    </table>
</body>
</html>