<%- include('../partials/header') %>
    <h1>Build Your Flow</h1>

    <form id="new-form" action="/flows" method="POST">
        <label>Create a Name</label>
        <input type="text" name="name"><br>
        <label>Category:</label>
        <select name="category">
            <option value="Vinyasa">Vinyasa</option>
            <option value="Hatha">Hatha</option>
            <option value="Yin">Yin</option>
            <option value="Power">Power</option>
        </select><br>
        <input type="submit" value="Create Flow">
    </form>

    <%- include('../partials/footer') %>